@{
    ViewData["Title"] = "States - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get Table details</h1>

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="statesDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead class="bg-info">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script>
        $(document).ready(function () {
            $("#statesDatatable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "lengthMenu": [[10, 25, 50, 100, -1], ['10', '25', '50', '100', 'All']],
            "language": {
                searchPlaceholder: "Search here..."
            },
            "ajax": {
                "url": `${apiUrl}/StatesApi/Search`,//https://localhost:7261/api/StatesApi
                "type": "get",
                //"datatype": "json",
                //"content-type":"json"
            },
            //"columnDefs": [{
            //    "targets": [0],
            //    "visible": false,
            //    "searchable": false
            //}],
            "columns": 
            [
                { "data": "name", "name": "Name", "autoWidth": true },
                {
                    "className": "text-center",
                    "render": function (data, type, row) {
                        return '<a class="text-warning btn-actionbtn" title="Edit"> <span class="fa fa-pencil-square-o"></span> </a>' +
                            '<a class="text-danger btn-actionbtn"  title="Remove"> <span class="fa fa-trash"></span> </a>';
                    }
                },
            ]
        });
    });
</script>
}